node_modules
dist
dist-ssr
.next
*.tsbuildinfo
*.local

.claude/settings.local.json

.DS_Store
.env
.env.local

.vscode/*
!.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
